@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$font: 'Muli', sans-serif;

$font-color: #000;
$font-color-dark: #fff;
$background: rgb(241, 241, 241);
$background-dark: #162530;

$background-cards: #fff;
$background-cards-dark: #2A3238;
$border-cards: 1px solid darken($background, 10%);
$border-cards-dark: 1px solid darken($background-cards-dark, 10%);

$box-shadow: 0px 0px 16px 3px rgba(216, 216, 216, 0.75);
$box-shadow-dark: 0px 0px 16px 3px rgba(41, 42, 45, 0.75);
$box-shadow-hover: 0px 0px 16px 3px rgb(198, 196, 196);
$box-shadow-hover-dark: 0px 0px 16px 3px rgb(52, 53, 55);
$border-radius: 5px;
